.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# selective include from node_modules
node_modules/**
!node_modules/node-fetch/
!node_modules/byots/
!node_modules/typescript/
!node_modules/whatwg-url/
!node_modules/webidl-conversions/
!node_modules/tr46/
